.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; /* Adjust this value as needed */
  }

body {
    overflow: hidden;
  }
  .canvas-container.layout {
    width: 100%;
    height: 100vh; /* or any other value that suits your needs */
    position: relative; /* if you want to position the canvas absolutely inside the container */
  }